.form {
  display: none;
}

.list-container {
  display: flex;
  flex-direction: row;
}

#create-button {
  width: 100px;
  height: 30px;
  padding-right: 2px;
}

.size {
  width: 200px;
  height: 25px;
}

.addBtn {
  color: rgb(240, 111, 111);
  width: 100px;
  height: 20px;
  font-weight: bold;
  background: rgb(250, 200, 200);
}

.list {
  width: 300px;
  text-align: left;
  font-weight: bold;
  font-size: larger;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  background: rgb(250, 200, 200);
}

.whole-page {
  margin: 40px 40px 40px 40px;
  background: black;
}

.nav-and-form {
  display: flex;
}

.left {
  width: 30%;
}

.delete-all-icon {
  width: 30px;
  height: 15px;
}

.deleteIcon {
  width: 20px;
  height: 12px;
}

.right {
  width: 70%;
  margin-top: 10px;
  margin-left: 250px;
}

.heading {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.todo-heading {
  text-align: center;
  color: white;
}

.task {
  width: 300px;
  display: block;
  font-weight: normal;
}

.todo-list-left {
  font-weight: bold;
  color: rgb(179, 67, 67);
}

.close {
  color: red;
  font-weight: normal;
}

.button {
  text-align: center;
}
