.form {
  display: none;
  margin: auto;
}

.list-container {
  display: flex;
  flex-direction: row;
}

#create-button {
  width: 100px;
  height: 30px;
  padding-right: 2px;
}

.size {
  width: 200px;
  height: 25px;
  margin-bottom: 10px;
}

.addBtn {
  color: rgb(240, 111, 111);
  width: 100px;
  height: 20px;
  font-weight: bold;
  background: rgb(250, 200, 200);
}

.list {
  width: 280px;
  text-align: left;
  font-weight: bold;
  font-size: larger;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: lightgray;
}

.whole-page {
  margin: 40px 40px 40px 40px;
  background: white;
}

.nav-and-form {
  display: flex;
}

.left {
  width: 30%;
}

.delete-all-icon {
  width: 25px;
  height: 15px;
}

.add {
  width: 25px;
  height: 15px;
}

.edit {
  width: 25px;
  height: 15px;
}

.deleteIcon {
  width: 20px;
  height: 12px;
}

.right {
  width: 70%;
  margin-left: 270px;
}

.heading {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.todo-heading {
  text-align: center;
  color: black;
  border-bottom: 1px solid black;
}

.task {
  width: 300px;
  display: block;
  font-weight: normal;
}

.todo-list-left {
  font-weight: bold;
  color: black;
}

.close {
  color: red;
  font-weight: normal;
}

.create-button {
  /* text-align: center; */
  margin: auto;
}
.left {
  height: 100vh;
  box-shadow: 5px 10px 8px #888888;
}

.save-next {
  margin-top: 10px;
  margin: auto;
}

.todo-viewer {
  margin-top: 50px;
}

.list-view {
  margin-top: 15px;
  width: 350px;
  text-align: left;
  font-weight: bold;
  font-size: larger;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  background: lightgray;
}

.new-task {
  width: 200px;
  height: 15px;
  padding-left: 5px;
}
